<%= form_with(model: linha, html: {class: "my_form"}) do |form| %>
  <% if linha.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(linha.errors.count, "error") %> prohibited this linha from being saved:</h2>

      <ul>
        <% linha.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :codigo, style: "display: block" %>
    <%= form.number_field :codigo %>
  </div>

  <div>
    <%= form.label :tipo_id, style: "display: block" %>
    <div class="form_radio_items">
      <%= form.collection_radio_buttons :tipo_id, Tipo.order(:name), :id, :nome %>
    </div>
  </div>

  <div style="margin-top:30px">
    <%= form.label :terminals, style: "display: block" %>
    <div class="form_radio_items">
      <%= form.collection_check_boxes :terminals, Terminal.order(:name), :id, :nome %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
