<div id="<%= dom_id linha %>">

  <div class="linha_block" style="color: <%= get_color_by_tipo(linha.tipo) %>">

    <span> 
      <%= linha.codigo %> 
    </span>
    
    <%= link_to linha.nome, linha %>
    
    <%= link_to linha.tipo.nome, linha.tipo %>

  </div>

</div>
