<p style="color: green"><%= notice %></p>

<h2>
  <%= render @linha %>
</h2>

#  render terminals associados
<div>
  <%= link_to "Edit this linha", edit_linha_path(@linha) %> |
  <%= link_to "Back to linhas", linhas_path %>

  <%= button_to "Destroy this linha", @linha, method: :delete %>
</div>
