<p style="color: green"><%= notice %></p>

<%= render @tipo %>

<div>
  <%= link_to "Edit this tipo", edit_tipo_path(@tipo) %> |
  <%= link_to "Back to tipos", tipos_path %>

  <%= button_to "Destroy this tipo", @tipo, method: :delete %>
</div>
