<%= form_with(model: terminal, html: {class: "my_form"}) do |form| %>
  <% if terminal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(terminal.errors.count, "error") %> prohibited this terminal from being saved:</h2>

      <ul>
        <% terminal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :endereco_id, style: "display: block" %>
    <%= form.text_field :endereco_id %>
    <em>
      <% Endereco.all.each do |endereco| %>
        <%= render endereco %>
      <% end %>
    </em>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
